# Environment configuration
NODE_ENV=development

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=dev_hub

# Firebase configuration
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# MINIO configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=devhub
MINIO_USE_SSL=false

# Vimeo configuration
VIMEO_CLIENT_ID=
VIMEO_CLIENT_SECRET=
VIMEO_CLIENT_ACCESS_TOKEN=